@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Outfit:wght@400;500;700;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Outfit", ui-sans-serif, system-ui, sans-serif;
  
  --color-brand-400: #60A5FA;
  --color-brand-500: #3B82F6;
  --color-brand-600: #2563EB;
  --color-dark-900: #020617;
  --color-dark-800: #0F172A;
  --color-dark-700: #1E293B;
}

body {
  background-color: var(--color-dark-900);
  color: white;
  -webkit-font-smoothing: antialiased;
}
